<!DOCTYPE HTML>
<!--
	Tessellate by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>We Are One</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header" class="dark">
				<header>
					<h1>We Are All One</h1>
					<p>Bringing Awareness to Human Trafficking<a href="http://html5up.net"></a></p> <br>
					<span>By Duane Rymarowicz</span>
				</header>
				<footer>
					<a href="#first" class="button scrolly">Learn More</a>
				</footer>
			</section>

		<!-- First -->
			<section id="first" class="main">
				<header>
					<div class="container">
						<h2>What is Human Trafficking?</h2>
						<p>Human trafficking is the business of stealing freedom for profit. In some cases, traffickers trick, defraud or physically force victims into selling sex. In others, victims are lied to, assaulted, threatened or manipulated into working under inhumane, illegal or otherwise unacceptable conditions.<br />
						It is a multi-billion dollar criminal industry that denies freedom to 24.9 million people around the world.</p>
					</div>
				</header>
				<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon fa-clock"></span></span>
									<header>
										<h3>30 Seconds</h3>
									</header>
									<p>Every 30 seconds someone is forced into human trafficking.</p>
								</section>
							</div>
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon solid fa-bolt"></span></span>
									<header>
										<h3>Take Action</h3>
									</header>
									<p>There are a number of ways to get involved. If you would like hands on expierence please visit this <a href="http://www.endslaverynow.org/act/volunteer">Link</a> to see if there is an oppurtunity near you.</p>
								</section>
							</div>
							<div class="col-4 col-12-narrow">
								<section>
									<span class="feature-icon"><span class="icon solid fa-cloud"></span></span>
									<header>
										<h3>Donate</h3>
										<p>If you'd like to donate check out this link <a href="http://www.endslaverynow.org/act/volunteer">Link</a> to see if there is an oppurtunity near you.</p>
									</header>
									<p></p>
								</section>
							</div>
							<div class="col-12">
								<footer>
									<a href="#second" class="button scrolly">Learn More</a>
								</footer>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="fourth" class="main">
				<header>
					<div class="container">
						<h2>Want to List Your Own Resource?</h2>
						<p>If you have a resource that you know of that are local to you, please feel free to leave your information below to be posted so that people can reach out to you.<br />
						</p>
					</div>
				</header>
				<div class="content style4 featured">
					<div class="container medium">
						<form method="post" action="/sendResource">
							<div class="row gtr-50">
								<div class="col-6 col-12-mobile"><input type="text" name= 'name' placeholder="Name" /></div>
								<div class="col-6 col-12-mobile"><input id="enterLocation" type="text" name= 'address' placeholder="Address" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name='details' placeholder="Details"></div>
								<div class="col-12">
										<button type="submit" class="button" value="Send Message">Send</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
	
			<!-- Fourth -->
			<div id="map">
				<div>
					<h3> My Google Map</h3>
					<script>
						function getUserLocation(){
							if(navigator.geolocation){
								navigator.geolocation.getCurrentPosition(initMap)
							}
						}
						function initMap(pos) {
							let options = {
								zoom: 11,
								center: { lat: pos.coords.latitude, lng: pos.coords.longitude }
							}
							let map = new google.maps.Map(document.getElementById('map'), options)
							fetch('locations', {
								method: 'get',
								headers: { 'Content-Type': 'application/json' },
							})
								.then(response => {
									console.log(response)
									if (response.ok) return response.json()
								})
								.then(data => {
									console.log(data)
										for (let j = 0; j < data.locations.length; j++) {
											let userAddress = data.locations[j].address;
											let name = data.locations[j].name;
											let queryAddress = userAddress.split(' ').join('+')
											let userCoordinates
											fetch(
												`https://maps.googleapis.com/maps/api/geocode/json?address=${queryAddress}&key=AIzaSyA-VGY6HGimxtf0eA9-YvG5I2nRrsaRcwg`
											)
												.then(res => res.json())
												.then(function (result) {
													let locations = []
													let lat = result.results[0].geometry.location.lat
													let lng = result.results[0].geometry.location.lng
													let coords = [lat, lng, data.locations[j].details]
													locations.push(coords)
													var infowindow = new google.maps.InfoWindow();
													var marker, i;
													console.log(userAddress)
													for (i = 0; i < locations.length; i++) {
														marker = new google.maps.Marker({
															position: new google.maps.LatLng(locations[i][0], locations[i][1]),
															map: map,
															icon: {
															// add image url instead of binary
															scaledSize: new window.google.maps.Size(50, 50)
															},
															mapTypeId: google.maps.MapTypeId.ROADMAP,
															draggable: false,
															title: "pin",
															content: '<h1>Location</h1>'
														});
														google.maps.event.addListener(marker, 'click', (function (marker, i) {
															return function () {
																infowindow.setContent(
																	`<p>${name}</p> <p>${userAddress}</p> <p>${locations[i][2]}</p>`
																	
																	);
																infowindow.open(map, marker);
															}
														})(marker, i));
													}
												});
										}
									
								})
						}
					</script>
				</div>
			</div>
	

		<!-- Second -->
			<section id="second" class="main">
				<header>
					<div class="container">
						<h2>By the Numbers</h2>
						<p>51% of identified victims of trafficking are women, 28% children and 21% men<br />
						72% people exploited in the sex industry are women <br>
						63% of identified traffickers were men and 37% women <br>
						43% of victims are trafficked domestically within national borders
						</p>
					</div>
				</header>
				<div class="content dark style2">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-narrow">
								<section>
									<h3>It's not just about sex.</h3>
									<p>Many times people often associate human trafficking with sex trafficking. While this is true probably due to a statistical bias, sexual exploitation makes up 79% of cases. But What if i told you human trafficking isnt limited to sexual exploitation? Forced Labor also falls under human trafficking and makes up around 18% of cases. roughly 21 million people are subjected to some kind of forced labor.  </p>
									<p>In fact forced labor is used on a global scale to bring us some of our most beloved brands. But more specifically, the fishing, textile, construction, mineral and agricultural industries are particularly subjected to forced laborers. Mostly made up of private companies and businesses which are seeking to create a profit, exploit 90% of the worlds forced laborers. This means that the desire to produce a profit is the largest motivating force behind the institution of slavery. </p>
									<footer>
										<a href="#third" class="button scrolly">Continue</a>
									</footer>
								</section>
							</div>
							<div class="col-8 col-12-narrow">
								<div class="row">
									<div class="col-6"><a href="#" class="image fit"><img src="img/not4sale.jpg" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="img/handovermouth.jpg" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="img/childhandtied.jpg" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="img/childcrying.jpg" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="img/stillexist.jpg" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="img/slavery.jpg" alt="" /></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


		<!-- Third -->
			<section id="third" class="main">
				<header>
					<div class="container">
						<h2>Wait... brands? No way, what brands?</h2>
						<p> Abercrombie & Fitch, Acer, Adidas, Alstom, Amazon, Apple, ASUS, BAIC Motor, Bestway, BMW, Bombardier, Bosch, BYD, Calvin Klein, Candy, Carter’s, Cerruti 1881, Changan Automobile, Cisco, CRRC, Dell, Electrolux, Fila, Founder Group, GAC Group (automobiles), Gap, Geely Auto, General Motors, Google, Goertek, H&M, Haier, Hart Schaffner Marx, Hisense, Hitachi, HP, HTC, Huawei, iFlyTek, Jack & Jones, Jaguar, Japan Display Inc., L.L.Bean, Lacoste, Land Rover, Lenovo, LG, Li-Ning, Mayor, Meizu, Mercedes-Benz, MG, Microsoft, Mitsubishi, Mitsumi, Nike, Nintendo, Nokia, Oculus, Oppo, Panasonic, Polo Ralph Lauren, Puma, SAIC Motor, Samsung, SGMW, Sharp, Siemens, Skechers, Sony, TDK, Tommy Hilfiger, Toshiba, Tsinghua Tongfang, Uniqlo, Victoria’s Secret, Vivo, Volkswagen, Xiaomi, Zara, Zegna, ZTE.</p><br>
						<p>These Global brands depend upon factories in China that utilize the forced labor of Chinese ethnic minority Uighurs. </p>
					</div>
				</header>
<!-- 
				<div class="content dark style3">
					<div class="container">
						<span class="image featured"><img src="img/human-paper.jpg" alt="" /></span>
						<div class="row">
							<div class="col-4 col-12-narrow">
								<h3>Diam vivamus turpis lorem sodales lectus ornare</h3>
								<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
								tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
								vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
								augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
								lorem ipsum dolor placerat magna tempus feugiat.</p>
								<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
								accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
								euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu eget ornare varius
								gravida dolore euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu
								eget ornare et magna.</p>
							</div>
							<div class="col-4 col-12-narrow">
								<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
								tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
								vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
								augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
								lorem ipsum dolor placerat magna tempus feugiat.</p>
								<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
								accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
								euismod lorem ipsum dolor sit amet consequat eget ornare varius gravida euismod.
								Gravida dis lorem ipsum dolor placerat magna tempus feugiat magna tempus lorem.</p>
								<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
								accumsan vivamus augue cubilia.</p>
							</div>
							<div class="col-4 col-12-narrow">
								<p>Placerat lectus ante vel nunc euismod est turpis sodales. Diam tempor dui
								lacinia eget ornare varius gravida. Gravida dis placerat lectus ante vel nunc
								euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus augue
								cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
								lorem ipsum dolor placerat magna tempus feugiat. Lectus ante vel nunc euismod
								est turpis sodales. Diam tempor dui lacinia dolore.</p>
								<p>Accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida
								dolore euismod lorem ipsum dolor sit amet conseismod lorem ipsum dolor sit amet
								consequat lorem ipsum consequat feugiat sed tempus euismod feugiat veroeros.</p>
								<footer>
									<a href="#fourth" class="button scrolly">Back To Top</a>
								</footer>
							</div>
						</div>
					</div>
				</div>
			</section> -->

		<!-- Basic Elements -->
		<!--
			<section class="main">
				<header>
					<div class="container">
						<h2>A Whole Lotta Elements</h2>
						<p>General purpose elements for every general purpose. Or something like that.</p>
					</div>
				</header>
				<div class="content style1 dark">
					<div class="container">
						<section>
							<header>
								<h3>Paragraph</h3>
								<p>This is a byline</p>
							</header>
							<p>Phasellus nisl nisl, varius id <sup>porttitor sed pellentesque</sup> ac orci. Pellentesque
							habitant <strong>strong</strong> tristique <b>bold</b> et netus <i>italic</i> malesuada <em>emphasized</em> ac turpis egestas. Morbi
							leo suscipit ut. Praesent <sub>id turpis vitae</sub> turpis pretium ultricies. Vestibulum sit
							amet risus elit.</p>
						</section>
						<section>
							<header>
								<h3>Blockquote</h3>
							</header>
							<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
							tempus euismod. Vestibulum ante ipsum primis in faucibus. Cras sit amet urna eros, id egestas
							tempus ante ipsum primis in faucibus orci luctus et ultrices.</blockquote>
						</section>
						<section>
							<header>
								<h3>Divider</h3>
							</header>
							<p>Donec consectetur <a href="#">vestibulum dolor et pulvinar</a>. Etiam vel felis enim, at viverra
							ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
							facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
							tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
							posuere cubilia.</p>
							<hr />
							<p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
							ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
							facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
							tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
							posuere cubilia.</p>
						</section>
						<section>
							<header>
								<h3>Unordered List</h3>
							</header>
							<ul class="default">
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
							</ul>
						</section>
						<section>
							<header>
								<h3>Ordered List</h3>
							</header>
							<ol class="default">
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
								<li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
							</ol>
						</section>
						<section>
							<header>
								<h3>Table</h3>
							</header>
							<div class="table-wrapper">
								<table class="default">
									<thead>
										<tr>
											<th>ID</th>
											<th>Name</th>
											<th>Description</th>
											<th>Price</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>00001</td>
											<td>Lorem ipsum dolor</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>29.99</td>
										</tr>
										<tr>
											<td>00002</td>
											<td>Sit amet nullam</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>19.99</td>
										</tr>
										<tr>
											<td>00003</td>
											<td>Feugiat felis viverra</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>29.99</td>
										</tr>
										<tr>
											<td>00004</td>
											<td>Sagittis enim felis</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>19.99</td>
										</tr>
										<tr>
											<td>00005</td>
											<td>Nullam sed vestibulum</td>
											<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
											<td>19.99</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="3"></td>
											<td>100.00</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</section>
						<section>
							<header>
								<h3>Form</h3>
							</header>
							<form method="post" action="#">
								<div class="row gtr-50">
									<div class="col-6 col-12-narrow">
										<input type="text" name="name" id="name" value="" placeholder="John Doe" />
									</div>
									<div class="col-6 col-12-narrow">
										<input type="text" name="email" id="email" value="" placeholder="johndoe@domain.tld" />
									</div>
									<div class="col-12">
										<div class="select" tabindex="-1">
											<select name="department" id="department">
												<option value="">Choose a department</option>
												<option value="1">Manufacturing</option>
												<option value="2">Administration</option>
												<option value="3">Support</option>
											</select>
										</div>
									</div>
									<div class="col-12">
										<input type="text" name="subject" id="subject" value="" placeholder="Enter your subject" />
									</div>
									<div class="col-12">
										<textarea name="message" id="message" placeholder="Enter your message"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" class="button" value="Send Message" /></li>
											<li><input type="reset" class="button alt" value="Clear Form" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>
			</section>
		-->



		<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/DuaneEnrique" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.linkedin.com/in/duane-enrique-rymarowicz/" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
					<!-- <li><a href="#" class="icon brands fas fa-user-alt"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li> -->
					<li><a href="https://github.com/Enrique2656" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<div class="copyright">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</section>

		<!-- Scripts -->
		<script type="text/javascript"
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-VGY6HGimxtf0eA9-YvG5I2nRrsaRcwg&libraries=places">
                    </script>
					<script
					src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-VGY6HGimxtf0eA9-YvG5I2nRrsaRcwg&channel=2&callback=getUserLocation"
					async defer></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="/main.js"></script>

	</body>
</html>